.portfolio-item {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .portfolio-item:hover {
    transform: scale(1.05);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 188, 156, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .portfolio-item:hover .overlay {
    opacity: 1;
  }
  
  /* Modal Styling */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  .nextLinePortfolio::after {
    content: '';
    width: 5.5625rem;
    height: .1875rem;
    position: absolute;
    left: -400%;
    top: 35%;
    background-color: #2C3E50;
    z-index: 4;
}

.nextLinePortfolio::before {
    content: '';
    width: 5.5625rem;
    height: .1875rem;
    position: absolute;
    right: -400%;
    top: 35%;
    background-color: #2C3E50;
    z-index: 4;
}