.nextLine::after {
    content: '';
    width: 5.5625rem;
    height: .1875rem;
    position: absolute;
    left: -400%;
    top: 35%;
    background-color: white;
    z-index: 4;
}

.nextLine::before {
    content: '';
    width: 5.5625rem;
    height: .1875rem;
    position: absolute;
    right: -400%;
    top: 35%;
    background-color: white;
    z-index: 4;
}
a{
    text-decoration: none;
    list-style: none;
    color: white;
}